version: '3.8'

services:
  prometheus:
    image: prom/prometheus:latest
    volumes:
      - ./monitoring/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus_data:/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
    networks:
      - qflow-staging-net
      - monitoring-net

  grafana:
    image: grafana/grafana:latest
    volumes:
      - ./monitoring/grafana/provisioning:/etc/grafana/provisioning
      - grafana_data:/var/lib/grafana
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
    ports:
      - "3003:3000"
    networks:
      - monitoring-net

  node_exporter:
    image: prom/node-exporter:latest
    networks:
      - monitoring-net

volumes:
  prometheus_data:
  grafana_data:


networks:
  qflow-staging-net:
    external: true
    name: qflow-pro_qflow-staging-net
    # Note: We need to connect to the network where API lives. 
    # Usually easier if we just reference the network name created by docker-compose.staging.yml

  monitoring-net:
    driver: bridge
